:root {
  --vermelho: #d6000d;
  --Cinza: #dcdcdc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}
/* Header */

/* Logo */
.logo {
  margin-left: 150px;
  width: 160px;
  float: left;
}

.logo img {
  width: 160px;
  height: max-content;
}

/* Menu */
.navbar {
  margin-top: 30px;
  float: right;
}

.navbar ul {
  margin: auto auto;
  text-align: center;
  margin-right: 40px;
  float: right;
}

.navbar li {
  font-weight: 300;
  font-size: 22px;
  line-height: 60px;
  margin-left: 50px;
  list-style-type: none;
  float: left;
}

.navbar li button {
  font-size: 22px;
  border-radius: 15px;
  width: 200px;
  height: 45px;
  border: none;
  color: white;
  background-color: var(--vermelho);
}

/* Primeiro container */

.container-1 {
  margin: 140px auto 100px;
  width: max-content;
}

/* Imagem 1 */
.img-1 {
  margin-right: 100px;
  float: left;
}

.img-1 img {
  width: 500px;
  height: 400px;
}

/* Texto 1 */
.texto-1 {
  padding-top: 55px;
  width: 560px;
  height: 460px;
  float: left;
}

.texto-1 h2 {
  font-size: 24px;
}

.texto-1 h1 {
  color: var(--vermelho);
  font-size: 68px;
}

.texto-1 input {
  border: none;
  border-radius: 15px;
  font-size: 24px;
  margin-top: 70px;
  width: 350px;
  height: 60px;
  color: white;
  background-color: var(--vermelho);
}

/* Container 2 */

.container-2 {
  margin: 0 auto;
  width: max-content;
  /* background-color: var(--vermelho); */
}

/* Lista */
.texto-2 {
  margin-top: 150px;
  margin-right: 150px;
  float: left;
}

.texto-2 ul {
  /* background-color: blue; */
  list-style: none;
  float: left;
}

/* Icones */

.icones {
  margin-right: 20px;
}

.icones i {
  line-height: 50px;
  font-size: 24px;
}

/* Lista lateral */

.menu li {
  line-height: 50px;
  font-weight: 300;
  font-size: 24px;
}

/* Imagem esquerda */
.img-2 {
  float: right;
}

.img-2 img {
  width: 650px;
  height: 550px;
}

.texto-2 i {
  color: var(--vermelho);
}

/* Contato */

.contato {
  margin-bottom: 100px;
}
.contato h2 {
  font-size: 20px;
}

.cx-celular {
  border-radius: 5px;
  background-color: var(--Cinza);
  border: none;
  width: 200px;
  height: 40px;
}

.ligar {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--vermelho);
  border: none;
  width: 200px;
  height: 40px;
}

/* Container 3 */

.container-3{
  width: max-content;
  height: max-content;
  margin: 0 auto 100px;
  
}

/* Avaliação 1 */

.circulo {
  color: var(--vermelho);
  margin-left: 10px;
  float: left;
  font-size: 100px;
}

.avaliacao-1 {
  margin-right: 15px;
  border-radius: 10px;
  width: 600px;
  height: 150px;
  background-color: var(--Cinza);
  float: left;
}

.comentario {
  margin-left: 15px;
  margin-top: 20px;
  width: 450px;
  float: left;
}

.comentario p {
  font-size: 16px;
}

.nome-sobre {
  margin-left: 15px;
  margin-top: 20px;
  float: left;
}

.nome-sobre h1 {
  font-size: 28px;
}

.nome-sobre h2 {
  font-size: 18px;
}

/* Avaliação 2 */

.circulo-2 {
  color: var(--vermelho);
  margin-left: 10px;
  font-size: 100px;
  float: left;
}

.avaliacao-2 {
  border-radius: 10px;
  width: 600px;
  height: 150px;
  background-color: var(--Cinza);
  float: left;
}

.comentario-2 {
  margin-left: 15px;
  margin-top: 20px;
  width: 450px;
  float: left;
}

.comentario-2 p {
  font-size: 16px;
}

.nome-sobre-2 {
  margin-left: 15px;
  margin-top: 20px;
  float: left;
}

.nome-sobre h1 {
  font-size: 28px;
}

.nome-sobre h2 {
  font-size: 18px;
}

/* Rodape */

.rodape {
  width: auto;
  color: white;
  background-color: black;
}

.conteudo{
  
}
/*Titulos */

.rodape h2{
  font-size: 26px;
}

.logo-rodape , .sobre , .contato, .redes-sociais{
  margin-left: 50px;
  float: left;
}

.logo-rodape h1{
  font-size: 36px;
  
}